body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1.1rem;
}

/* top header section start */
.bg-light {
  background-color: #f8f9fa !important;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background: #1089ff;
}
.icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  line-height: 0;
  color: #fff !important;
}
.caption-text {
  font-size: 1rem;
}
/* top header section end */

/* header section start */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #fff;
}
.site-navbar {
  transition: 0.3s all ease;
  background: #1089ff;
}
.site-navigation .site-menu {
  margin-bottom: 0;
}
.site-menu > li {
  display: inline-block;
}
.active > a {
  color: #fff;
  position: relative;
}
.site-navigation {
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
  margin-left: 20px;
  margin-right: 20px;
}
.site-menu {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05rem;
  font-weight: 900;
  text-decoration: none !important;
}

.site-menu .active > a {
    color: #fff;
    display: inline-block;
    padding: 5px 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.site-menu > li > a {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: #fff !important;
  display: inline-block;
  text-decoration: none !important;
}
.site-menu > li > a:hover {
  color: #fff !important;
}
.site-menu > li.active > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #fff !important;
}
.text-left {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/* header section end */

/* slider section start (carousel) */
.intro-section {
  position: relative;
  height: 100vh;
  min-height: 700px;
  /* background-size: cover; */
}

.intro-section p {
  color: #fff !important;
  font-size: 1.1rem;
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
}
p a {
  color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.intro-section h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #fff !important;
}
.d2 {
  font-size: 3rem;
  font-weight: 300;
  color: #fff !important;
}
.d1 {
  color: #fff;
  font-size: 1.1rem;
}




/* slider section end */

/* About section start */
.intro-section1 {
  background-image: url("./img/hero2.jpg");
  position: relative;
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-section1::before {
  content: "";
  position: absolute;
  /* height: 100%; */
  width: 100%;
  background: #000 ;
  opacity: 0.3;
  border-bottom-right-radius: 0px;
}
.site-section {
  padding: 5rem 0;
}
.text-serif {
  font-family: "Dancing Script", sans-serif !important;
}
.heading-92913 {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}
.text-black {
  color: #000 !important;
}
.heading-92913::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1089ff;
}
.mb-3 {
  padding-bottom: 20px;
  font-weight: 300;
  color: gray;
}
.service-29283 .wrap-icon-39293 {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.service-29283 .wrap-icon-39293:before {
  content: "";
  position: absolute;
  background: #efefef;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}
.service-29283 .wrap-icon-39293 > span {
  line-height: 0;
  font-size: 70px;
  color: #1089ff;
}
.service-29283 h3 {
  font-size: 20px;
  color: #000;
}
.intro-section1 h1 {
  font-weight: 900;
  margin-top: 5rem;
  padding: 15rem;
  padding-bottom: 9rem;
}

/* bg image overlay */
.bg-image {
  background-image: url("./img/hero1.jpg");
  position: relative; 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image ::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background-color: rgba(16, 137, 255, 0.3);
  opacity: 0.1;
}
.counter-39392 {
  text-align: center;
}
.counter-39392 h3 {
  font-size: 50px;
  color: #fff !important;
  font-family: "Oswald", sans-serif;
}
.counter-39392 span {
  color: #fff;
}
/* destination */
.bg-light {
  background-color: #f8f9fa !important;
}
.text-black {
  color: #000 !important;
}
.service-39381 {
  background: #fff;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
}
.service-39381 h3 {
  font-size: 18px;
}
.service-39381 h3 a {
  color: #000;
  transition: 0.3s all ease;
  text-decoration: none;
}
.price > span {
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}
.bg-primary {
  background-color: #1089ff !important;
}
.ml-auto {
  margin-left: auto !important;
}
/* destination end */

/* book now */
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form-group {
  margin-bottom: 2rem;
}
input {
  padding: 10px 35px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s all ease;
}
input:hover {
  border: 1px solid #1089ff;
  transition: 0.3s all ease;
}
select,
textarea {
  width: 100%;
  font-size: 18px;
  margin-bottom: 1rem;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #ccc;
  transition: 0.3s all ease;
}
select,
textarea:hover {
  border: 1px solid #1089ff;
  transition: 0.3s all ease;
}
/* book now end */

/* team section start */
.heading-92913.text-center:after {
  left: 50%;
  transform: translateX(-50%);
}
.person {
  position: relative;
}
.person figure {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  transition: .1s all ease;
}
.person figure :hover{
    transform: scale(1.1);
    transition: .1s all ease;
}
.social {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
.social a {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  transition: 0.3s all ease;
}
.social a:hover {
  background: #000;
  color: #fff;
  transition: 0.3s all ease;
}
.social a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.person-contents {
  text-align: center;
}
.person-contents h3 {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
}
.person-contents .position {
  color: #1089ff;
}
.justify-content-center {
  justify-content: center !important;
}
.text-center {
  text-align: center !important;
}
/* team section end */

/* testimonial section start */
.testimony-39291 blockquote {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.testimony-39291 blockquote p {
  font-style: italic;
}
.quote {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  color: #1089ff;
}

.testimony-39291 .pic img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.mr-3 {
  margin-right: 1rem !important;
}
.textt {
  line-height: 1;
}
.textt strong {
  font-size: 15px;
  color: #000;
  font-weight: bolder;
  margin-bottom: 4px;
}
.textt span {
  font-size: 14px;
  color: #ccc;
}
/* testimonial section end */
.overlayy {
  background-image: url("./img/hero2.jpg");
  position: relative; 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.overlayy ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(16, 137, 255, 0.3);
  opacity: 0.2 ;
}
.justify-content-center {
  justify-content: center !important;
}
.text-white {
  color: #fff !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
/* overlayy end */
/* footer section start */
.footer {
  padding: 4rem 0;
  background: #000;
  font-size: 15px;
  color: #888;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.p a {
  color: #1089ff;
}
.footer-heading {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer-heading > span {
  border-bottom: 2px solid #1089ff;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.footer ul li {
  margin-bottom: 10px;
}
li a {
  color: #1089ff;
  text-decoration: none;
  transition: 0.3s all ease;
}
li a:hover {
  text-decoration: underline;
}
.footer .copyright {
  padding-top: 7rem;
  text-align: center;
}
.text-danger {
  color: #f23a2e !important;
}
p a {
  color: #1089ff;
  text-decoration: none;
  transition: 0.3s all ease;
}
p a:hover {
  text-decoration: underline;
  transition: 0.3s all ease;
}
#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}
/* footer section end */
.intro-section1 h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.intro-section1 p {
  color: #fff !important;
  font-size: 1.1rem;
}
.intro-section1 p a {
  text-decoration: none;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonial p {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.testimonial .client-name {
  text-transform: uppercase;
  color: #1089ff;
  font-size: 1.2rem;
}
.blog-entry .img-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
h3 a {
  color: #000;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
}
.meta {
  color: #b0b0b0;
  font-size: 1rem;
}
.meta a {
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
.innerpage {
  height: 75vh;
  min-height: 500px;
}

.intro-section2 h1 {
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 5rem;
  padding: 15rem;
  padding-bottom: 9rem;
}
.intro-section2 p a {
  color: #fff;
  text-decoration: underline;
}
.intro-section2 {
  background-image: url("./img/hero1.jpg");
  position: relative;
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-section2 ::before {
    content: "";
    position: absolute;
    /* height: 100%; */
    width: 100%;
    background: #222;
    opacity: 0.3;
    border-bottom-right-radius: 0px;
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
input {
  outline: none;
  box-shadow: none;
}

.style-1 {
  background-image: url("./img/hero1.jpg");
  position: relative;
  /* height: 100%;
    min-height: 700px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0;
}
.style-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #183661;
  opacity: 0.9;
  z-index: 0;
}
.style-1 .icon {
  font-size: 3.5rem;
  color: #1089ff;
}
.style-1 h3 {
  font-size: 20px;
  color: #1089ff;
  margin-bottom: 30px;
}
.style-1 p {
  color: #7697c6;
  font-size: 20px;
}
.footers {
  padding: 4rem 0;
  background-color: #000 !important;
  font-size: 15px;
  color: #888;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
